.product-card {
    display: flex;
    background-color: #dad5d5;
    align-items: flex-start;
    justify-content: center;
    width: 264px;
    padding: 8px;
    border-radius: 5px;
    gap: 8px;
    position: relative;
    img {
        width: 100% !important;
    }
}

.home-container-geral{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
}

.card-div-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-banner-container{
    width: 100%;
}

.home-banner-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 16px;
}

.scroll-wrapper {
    overflow-x: auto;
    max-width: 100%;
    padding: 8px 0;
}

.scroll-wrapper::-webkit-scrollbar {
  height: 8px; /* altura da barra  */
}

.scroll-wrapper::-webkit-scrollbar-track {
  background: #aaaaaa; /* fundo */
  border-radius: 4px;
}

/* barra */
.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--LaranjaEscuro);
  border-radius: 4px;
  border: 2px solid transparent; 
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #FF6600; /* cor ao passar o mouse */
}


.product-line {
    border-radius: 5px;
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.message-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
    width: 50%;
    h2 {
        color: var(--LaranjaBase);
    }
    button {
        padding: 0 80px;
        width: fit-content;
    }
}

main {
    align-items: center;
}

.product-session {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;

    /* margin: 12px 0; */
}

.product-session-title {
    font-size: 32px;
    color: var(--AmareloMel);
    font-weight: 500;
}

.store-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-store {
  color: var(--LaranjaMaisFeliz);
  margin-bottom: 16px;
  text-align: start;
  width: 100%;
}

.product-title {
    font-size: 24px;
    font-weight: 600;
    color: #2B2B2B;
    .product-status {
        font-size: 16px;
        color: #aaaaaa;
        font-weight: 500;
        
    }
}

.promo-value {
    position: absolute;
    background-color: var(--AmareloMel);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    top: 16px;
    right: 16px;
}

.product-value {
    font-size: 20px;
    font-weight: 600;
    color: var(--LaranjaBase);
    align-items: end;
    gap: 8px;
    p {
        text-decoration: line-through;
        color: #aaaaaa;
        font-size: 16px;
        font-weight: 500;
    }
}

@media (max-width: 768px) {
    .product-line {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-items: center;
    }

    main {
        justify-content: center;
        height: calc(100vh - 185px);
    }
    .message-div {
        width: 100%;
        height: fit-content;
        padding: 0 16px;
    }
}

@media (min-width: 1024px) {
    .product-line {
        grid-template-columns: repeat(3, 1fr);
    }

    .store-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .product-line {
        grid-template-columns: repeat(3, 1fr);
    }
    
}